<template>
    <div>
        <div id="header-block">
            <div class="header-logo">
                <img src="/img/logo.png" alt="">
            </div>
            <div class="header-logo-mini">
                <img src="/img/logo_mini.png" alt="">
            </div>
            <div class="header-slogan">
                Производство цветных металлов в Каменске-Уральском
            </div>
        </div>
        <div id="bottom-menu" :class="{'hidden': !visible}">
            <div class="mobile-menu-content">
                <div class="menu-title">Товары</div>
                <div class="menu-bars">
                    <div class="icon-inline bars" @click="toggleMenu"></div>
                </div>
            </div>
            <div class="bottom-menu-content" :class="{'active': this.menuActive}">
                <router-link 
                    v-for="(route, i) in $router.options.routes" 
                    v-if="route.title"
                    :to="route" class="bottom-menu-item"
                    active-class="active" :key="i" exact>{{route.title}}</router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            menuActive: false
        }
    },
    props: ['visible'],
    methods: {
        toggleMenu: function() {
            this.menuActive = !this.menuActive
        }
    }
}
</script>

<style lang="less">
    #header-block{
        display: none;        
    }

    @keyframes showMenu {
        0%{ max-width: 0px; }
        50%{ max-width: 0px; }
        100%{ max-width: 100%}
    }

    #bottom-menu{
        z-index: 10;
        height: 115px;
        position: fixed;
        bottom: 0px;
        left: 250px;
        right: 0px;
        
        overflow: hidden;
        max-width: 100%;
        transition: .3s;

        animation: showMenu 1s;

        &.hidden{
            max-width: 0px;
        }

        .mobile-menu-content{
            display: none;
        }

        .bottom-menu-content{
            height: 75px;
            margin-top: 40px;
            background: white;
            box-shadow: 0 -10px 20px fade(#091424, 13%);

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }

        .bottom-menu-item{
            text-decoration: none;
            padding: 0px 70px;
            height: 30px;
            line-height: 30px;
            font-size: 25px;
            margin-top: 23px;
            border-right: 1px solid #D6D6D6;
            color: #008AFF;
            font-weight: 400;
            transition: .3s;
            cursor: pointer;
            background: fade(#2C9EFF, 0%);
            white-space: nowrap;

            &:last-child{
                border-right: 0px;
            }

            &:not(.active):hover{
                color: #060E1A;
            }

            &.active{
                cursor: inherit;
                height: 110px;
                margin-top: -15px;
                padding-top: 30px;
                border-right: 0px;

                background-color: #2C9EFF;
                box-shadow: 15px -10px 30px fade(#091424, 20%);
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;

                font-size: 30px;
                color: white;
            }
        }
    }

    @media(max-width: 1370px) {
        #bottom-menu{
            .bottom-menu-item{
                font-size: 20px;
            }
        }
    }

    @media(max-width: 1140px) {
        #header-block{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            background: #091424;
            padding: 37px 50px;

            .header-logo{
                max-width: 210px;
                text-align: center;

                img {
                    max-width: 140px;
                }
            }

            .header-logo-mini{
                display: none;
            }

            .header-slogan{
                font-size: 15px;
                color: rgba(255,255,255, .63);
                text-align: center;
                align-self: center;
                font-weight: 400;
            }
        }

        #bottom-menu{
            position: relative;
            left: 0px;
            overflow: visible;

            .bottom-menu-content{
                margin-top: 0px;
                box-shadow: 0 10px 20px fade(#091424, 13%);

                .bottom-menu-item{
                    font-size: 18px;

                    &.active{
                        font-size: 25px;
                        height: 65px;
                        margin-top: 0px;

                        box-shadow: 15px 10px 30px fade(#091424, 20%);
                        border-radius: 0px;
                        border-bottom-left-radius: 12px;
                        border-bottom-right-radius: 12px;
                    }
                }
            }
        }
    }

    @media(max-width: 768px) {
        #header-block{
            .header-logo{
                display: none;
            }
            .header-logo-mini{
                display: block;
                max-width: 50px;
                text-align: center;

                img {
                    max-width: 50px;;
                }
            }
        }

        #bottom-menu{
            height: auto;

            .mobile-menu-content{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                background: white;
                padding: 15px 20px;

                .menu-title{
                    color: #091928;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 27px;
                    flex: 1;
                }

                .menu-bars{
                    cursor: pointer;

                    .icon-inline{
                        background-color: #2BA0FF;
                        font-size: 22px;
                        transition: .3s;
                    }

                    &:hover{
                        .icon-inline{
                            background-color: darken(#2C9EFF, 15%);
                        }
                    }
                }
            }

            .bottom-menu-content{
                max-height: 0px;
                overflow: hidden;

                flex-flow: column nowrap;
                height: auto;
                position: absolute;
                width: 100%;
                transition: .3s;

                &.active{
                    max-height: 500px;
                }

                .bottom-menu-item{
                    padding-top: 20px;
                    margin-top: 0px;
                    padding-bottom: 20px;

                    &.active{
                        height: auto;
                        font-size: 20px;
                        padding-top: 20px;
                        border-radius: 0px;
                    }
                }
            }
        }
    }
</style>
