<template>
    <div class="popup-block" :class="{'active': active}">
        <div class="popup-layout" @click="$emit('close')"></div>
        <div class="popup-content">
            <div class="popup-header">
                <div class="icon-inline subscribe"></div>
            </div>
            <div class="popup-body" v-if="!this.done">
                <h3 class="popup-title">Связаться с нами</h3>
                <p>
                    Отправьте заявку, и мы позвоним вам в самые кратчайшие сроки.<br>
                    Постарайтесь описать, какие именно позиции вас интересуют
                </p>
                <div class="form-block popup-form">
                    <div class="form-element">
                        <input type="text" placeholder="Ваше имя" v-model="queryParams.name">
                    </div>
                    <div class="form-element">
                        <input type="text" placeholder="Номер телефона" v-model="queryParams.contact">
                    </div>
                    <div class="form-element">
                        <textarea name="" id="" placeholder="Что вас интересует?" v-model="queryParams.text"></textarea>
                    </div>
                    <button class="control-button large" @click="sendForm()">Свяжитесь со мной!</button>
                </div>
            </div>
            <div class="popup-body" v-else>
                <h3 class="popup-title">Мы скоро свяжемся с вами</h3>
                <p>
                    Ваша заявка успешно отправлена. Менеджер свяжется с вами в ближайшее время
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            queryParams: {
                name: '',
                contact: '',
                text: '',
            },
            done: false,
            errors: false,
            errorText: ''
        }
    },
    methods: {
        async sendForm() {
            try {
                console.log(this.queryParams);
                var { data } = await axios.post('/api/orders', this.queryParams)

                if(!data['success']) {
                    this.errorText = data['errors'][0]
                    this.errors = true
                } else {
                    this.errors = false
                    this.done = true;
                }
            }
            catch(e) {
                console.log(e)
                return
            }
        }
    },
    props: ['active']
}
</script>

<style>

</style>
