<template>
    <div>
        <contact-popup v-if="this.contactPopupActive" @close="toggleConcactPopup"></contact-popup>
        <div id="left-menu-block">
            <div class="left-menu-content">
                <div class="logo-block">
                    <img src="/img/logo.png" alt="">
                </div>
                <div class="slogan-text">
                    Производство цветных металлов в Каменске-Уральском
                </div>
                <div class="vertical-spacer"></div>
                <div class="currencies-block">
                    <div class="currencies-rec" v-for="(curr, i) in this.currencies" :key="i">
                        <div class="icon-inline " :class="curr.slug"></div> {{curr.value}}
                    </div>
                    
                </div>
                <div class="vertical-spacer responsive"></div>
                <div class="control-button contact-button" @click="toggleConcactPopup">Связаться с нами</div>
                <div class="vertical-spacer responsive"></div>
                <div class="socials-block">
                    <a href="https://www.instagram.com/tensa.zakaz">
                        <span class="icon-inline inst"></span>
                    </a>
                    
                    <a href="https://www.facebook.com/tensa.tensa.98892">
                        <span class="icon-inline facebook"></span>
                    </a>
                </div>
                <div class="contacts-block">
                    <div class="contacts-rec">
                        <div class="contacts-title">Телефон для справок</div>
                        8-(999)-563-00-88
                    </div>
                    <div class="contacts-rec">
                        <div class="contacts-title">Электронная почта</div>
                        tensa.zakaz@gmail.com
                    </div>
                </div>
            </div>
            
            <div class="menu-hide-button" @click="switchBottomMenu">
                <div v-if="this.botMenuVisible" class="icon-inline hide-menu"></div>
                <div v-else class="icon-inline show-menu"></div>
            </div>
        </div>
    </div>
</template>

<script>
import ContactPopup from '../components/ContactPopup';

export default {
    data() {
        return {
            botMenuVisible: true,
            contactPopupActive: false
        }
    },
    computed: {
        currencies: function() {
            return this.$store.state.currencies;
        },
    },
    methods: {
        switchBottomMenu: function() {
            this.$emit('botMenutrigger')
            this.botMenuVisible = !this.botMenuVisible
        },
        toggleConcactPopup: function() {
            this.contactPopupActive = !this.contactPopupActive
            this.$emit('popup')
        }
    },
    components: {
        ContactPopup
    },
    created() {
        this.$store.dispatch('fetchCurrencies');
    }
}
</script>

<style lang="less" scoped>
    #left-menu-block{
        position: fixed;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 250px;
        background: #091424;

        .left-menu-content{
            position: relative;
            overflow-y: auto;
            padding: 0px 30px;
            padding-top: 50px;
            max-height: 100%;

            display: flex;
            height: ~"calc(100% - 145px)";
            flex-flow: column nowrap;
            justify-content: space-around;
        }

        .logo-block{
            margin: 0 auto;
            margin-bottom: 35px;
            max-width: 210px;
            text-align: center;
            height: 54px;

            img {
                max-width: 210px;
            }
        }

        .slogan-text{
            font-size: 15px;
            color: rgba(255,255,255, .63);
            text-align: center;
            margin-bottom: 20px;
            font-weight: 400;
        }

        .vertical-spacer{
            margin: 0 auto;
            width: 1px;
            background-color: fade(white, 20%);
            height: 15px;
            flex: 1;

            animation-name: showup;
            animation-duration: 1s;

            &.responsive{
                flex: 1;
            }
        }

        @keyframes showup {
            0%   {max-height: 0px;}
            50%  {max-height: 0px;}
            100% {max-height: 100px;}
        }


        .currencies-block{
            margin-top: 20px;
            margin-bottom: 5px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            .icon-inline{
                background-color: fade(white, 52%);
                font-size: 28px;
                margin-right: 10px;
            }

            .currencies-rec{
                font-size: 16px;
                line-height: 29px;
                color: white;
                margin-bottom: 15px;

                animation: fadein 1.2s;
            }
        }

        .contact-button{
            display: block;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .socials-block{
            margin-top: 20px;
            margin-bottom: 40px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;

            .icon-inline{
                background-color: fade(white, 40%);
                font-size: 35px;
                cursor: pointer;
                transition: .3s;

                &:hover{
                    background-color: white;
                }
            }
        }

        .contacts-block{
            padding-left: 20px;
            font-size: 14px;
            color: white;

            .contacts-rec{
                margin-bottom: 15px;

                .contacts-title{
                    display: block;
                    font-size: 14px;
                    color: fade(white, 50%);
                }
            }
        }

        .menu-hide-button{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 250px;
            height: 75px;
            background: #060E1A;
            text-align: center;
            cursor: pointer;

            .icon-inline{
                height: 75px;
                font-size: 35px;
                background: fade(white, 50%);
                transition: .3s;
            }

            &:hover{
                .icon-inline{
                    background: white;
                }
            }
        }
    }

    @media(max-width: 1370px) {
        #left-menu-block{
            .left-menu-content{
                padding-top: 37px;
            }

            .logo-block{
                height: 40px;
                img {
                    height: 40px;
                }
            }

            .slogan-text{
                display: none;
            }
        }
    }

    @media(max-width: 1140px) {
        #left-menu-block{
            position: relative;
            width: 100%;

            .left-menu-content{
                flex-flow: row nowrap;
                padding-bottom: 37px;

                .logo-block{
                    display: none;
                }

                .vertical-spacer{
                    display: none;
                }

                .currencies-block{
                    max-width: 200px;
                }

                .socials-block{
                    .icon-inline{
                        margin-right: 15px;
                        margin-top: 20px;

                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
            }

            .menu-hide-button{
                display: none;
            }
        }
    }

    @media(max-width: 768px) {
        #left-menu-block{
            position: relative;
            width: 100%;

            .left-menu-content{
                display: block;

                .currencies-block{
                    margin: 0 auto;
                }
            }
        }
    }
</style>
