
html,body{font-family:'Montserrat',Arial,Geneva,Verdana,sans-serif !important;font-weight:300;background:#F6F6F6;padding:0px;margin:0px
}
body.noscroll{overflow:hidden
}
input,textarea{font-family:'Montserrat',Arial,Geneva,Verdana,sans-serif !important;font-weight:300
}
#content{overflow-y:auto;margin-left:250px;width:calc(100% - 250px)
}
#content.noscroll{overflow:hidden
}
#content .content-container{padding:50px;max-width:1670px;margin:0 auto;margin-bottom:75px
}
.form-block .form-element{margin-bottom:25px
}
.form-block .form-element input[type=text],.form-block .form-element textarea{outline:none;margin:0px;display:block;padding:27px 50px;padding-right:25px;border-radius:12px;-webkit-box-shadow:none;box-shadow:none;border:0px;background:#F0F0F0;color:#838383;font-size:25px;font-weight:300;line-height:30px;width:calc(100% - 75px);resize:vertical;min-height:30px
}
.form-block .form-element input[type=text]::-webkit-input-placeholder,.form-block .form-element textarea::-webkit-input-placeholder{color:#838383;font-weight:300
}
@media (max-width:768px){
.form-block .form-element{margin-bottom:20px
}
.form-block .form-element input[type=text],.form-block .form-element textarea{font-size:20px;line-height:25px;padding:15px 25px;width:calc(100% - 50px)
}
}
.popup-fade-enter-active,.popup-fade-leave-active{-webkit-transition:opacity .5s;transition:opacity .5s;z-index:10000;position:fixed
}
.popup-fade-enter,.popup-fade-leave-to{opacity:0
}
.popup-block{position:fixed;z-index:20;top:0px;left:0px;width:100%;height:100%;-webkit-transition:.3s;transition:.3s;-webkit-animation:ease-in 1s;animation:ease-in 1s;opacity:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column nowrap;flex-flow:column nowrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:center;align-content:center;-ms-flex-pack:distribute;justify-content:space-around;overflow-x:hidden;overflow-y:auto
}
.popup-block .popup-layout{position:fixed;width:100%;height:100%;left:0px;top:0px;background:rgba(0,0,0,0.7);-webkit-transition:.3s;transition:.3s;cursor:pointer
}
.popup-block .popup-layout:hover{background:rgba(0,0,0,0.8)
}
.popup-block>div:last-child{z-index:2;max-width:90%;min-width:60%;margin:0 auto
}
.popup-block .popup-content{z-index:2;background:white;border-radius:12px;display:-webkit-box;display:-ms-flexbox;display:flex;overflow:hidden;overflow-y:auto
}
.popup-block .popup-content .popup-header{-webkit-box-flex:1;-ms-flex:1;flex:1;background-color:#2C9EFF;padding-left:50px;padding-right:50px;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;max-width:350px
}
.popup-block .popup-content .popup-header::before{content:'';position:absolute;top:0px;left:0px;width:100%;height:100%;background:top left no-repeat url('/img/popup.png');background-size:cover
}
.popup-block .popup-content .popup-header .icon-inline{font-size:100px;background-color:white
}
.popup-block .popup-content .popup-body{padding:50px 100px;-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto
}
.popup-block .popup-content .popup-body .popup-title{font-size:35px;font-weight:500;color:#232323;margin:0px;padding:0px;margin-bottom:25px
}
.popup-block .popup-content .popup-body p{color:#232323;font-size:20px;margin:0px;padding:0px
}
.popup-block .popup-content .popup-body .popup-form{margin-top:35px
}
@media (max-width:1370px){
#content .content-container{padding-top:37px
}
}
@media (max-width:1140px){
#content{margin-left:0px;width:100%
}
#content .content-container{margin-bottom:0px
}
}
@media (max-width:768px){
#content .content-container{padding:50px 20px
}
.popup-block .popup-content{border-radius:0px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column nowrap;flex-flow:column nowrap
}
.popup-block .popup-content .popup-header{-webkit-box-flex:0;-ms-flex:0 0;flex:0 0;-ms-flex-pack:distribute;justify-content:space-around
}
.popup-block .popup-content .popup-body{padding:20px
}
}
.icon-inline{display:inline-block;width:1em;height:1em;margin-top:.1rem;background:center center no-repeat;background-size:auto 100%;vertical-align:top;text-transform:uppercase;-webkit-mask:no-repeat center center;mask:no-repeat center center;-webkit-mask-size:1em;mask-size:1em
}
.icon-inline.usd{-webkit-mask-image:url(/svg/usd.svg);mask-image:url(/svg/usd.svg)
}
.icon-inline.euro{-webkit-mask-image:url(/svg/euro.svg);mask-image:url(/svg/euro.svg)
}
.icon-inline.al{-webkit-mask-image:url(/svg/al.svg);mask-image:url(/svg/al.svg)
}
.icon-inline.cu{-webkit-mask-image:url(/svg/cu.svg);mask-image:url(/svg/cu.svg)
}
.icon-inline.zn{-webkit-mask-image:url(/svg/zn.svg);mask-image:url(/svg/zn.svg)
}
.icon-inline.ni{-webkit-mask-image:url(/svg/ni.svg);mask-image:url(/svg/ni.svg)
}
.icon-inline.inst{-webkit-mask-image:url(/svg/inst.svg);mask-image:url(/svg/inst.svg)
}
.icon-inline.twitter{-webkit-mask-image:url(/svg/twitter.svg);mask-image:url(/svg/twitter.svg);width:1.1em;margin-top:.1em;-webkit-mask-size:1.1em;mask-size:1.1em
}
.icon-inline.facebook{-webkit-mask:url(/svg/facebook.svg) center center no-repeat;mask:url(/svg/facebook.svg) center center no-repeat
}
.icon-inline.hide-menu{-webkit-mask-image:url(/svg/hide_menu.svg);mask-image:url(/svg/hide_menu.svg)
}
.icon-inline.show-menu{-webkit-mask-image:url(/svg/show_menu.svg);mask-image:url(/svg/show_menu.svg)
}
.icon-inline.search{-webkit-mask-image:url(/svg/search.svg);mask-image:url(/svg/search.svg)
}
.icon-inline.bars{-webkit-mask-image:url(/svg/bars.svg);mask-image:url(/svg/bars.svg)
}
.icon-inline.subscribe{-webkit-mask-image:url(/svg/subscribe.svg);mask-image:url(/svg/subscribe.svg)
}
.icon-inline.manager{-webkit-mask-image:url(/svg/manager.svg);mask-image:url(/svg/manager.svg)
}
.icon-inline.car{-webkit-mask-image:url(/svg/car.svg);mask-image:url(/svg/car.svg)
}
.icon-inline.bag{-webkit-mask-image:url(/svg/bag.svg);mask-image:url(/svg/bag.svg)
}
.control-button{background:#2C9EFF;border:0px;outline:none;font-family:'Montserrat',Arial,Geneva,Verdana,sans-serif !important;-webkit-box-shadow:0 10px 30px rgba(0,87,146,0.29);box-shadow:0 10px 30px rgba(0,87,146,0.29);border-radius:12px;text-align:center;padding:20px 40px;font-size:21px;line-height:28px;font-weight:400;color:white;-webkit-transition:.3s;transition:.3s;cursor:pointer
}
.control-button:hover{background:#0078df
}
.control-button.large{font-size:28px;padding:25px 60px
}
@-webkit-keyframes fadein{
0%{opacity:0
}
50%{opacity:0
}
100%{opacity:1
}
}
@keyframes fadein{
0%{opacity:0
}
50%{opacity:0
}
100%{opacity:1
}
}
.grid-block{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row
}
.grid-block .grid-column{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column wrap;flex-flow:column wrap;-webkit-box-flex:1;-ms-flex:1 1;flex:1 1;-ms-flex-preferred-size:calc(25% - 37.5px);flex-basis:calc(25% - 37.5px);width:calc(25% - 37.5px);margin-right:50px
}
.grid-block .grid-column:last-child{margin-right:0px !important
}
@-webkit-keyframes item_appear{
0%{opacity:0;margin-top:15px
}
50%{opacity:0;margin-top:15px
}
100%{opacity:1;margin-top:0px
}
}
@keyframes item_appear{
0%{opacity:0;margin-top:15px
}
50%{opacity:0;margin-top:15px
}
100%{opacity:1;margin-top:0px
}
}
.grid-block .grid-column .grid-item{border-radius:12px;margin-bottom:37px;-webkit-box-shadow:0 15px 30px rgba(33,80,150,0.17);box-shadow:0 15px 30px rgba(33,80,150,0.17);-webkit-transition:.2s;transition:.2s;background:white;-webkit-animation:item_appear 1s;animation:item_appear 1s
}
@media (max-width:1600px){
.grid-block .grid-column{width:calc(33.33333333% - 33.3333333px);-ms-flex-preferred-size:calc(33.33333333% - 33.3333333px);flex-basis:calc(33.33333333% - 33.3333333px)
}
.grid-block .grid-column:nth-child(3n){margin-right:0px
}
}
@media (max-width:1370px){
.grid-block .grid-column{width:calc(50% - 25px);-ms-flex-preferred-size:calc(50% - 25px);flex-basis:calc(50% - 25px)
}
.grid-block .grid-column:nth-child(2n){margin-right:0px
}
.grid-block .grid-column:nth-child(2n - 1){margin-right:50px
}
}
@media (max-width:768px){
.grid-block{display:block
}
.grid-block .grid-column{margin-right:0px;width:100%
}
}
.panel-block{background:white;border-radius:12px
}
.panel-block .panel-image{padding:60px 0px;text-align:center
}
.panel-block .panel-image img{height:200px;max-width:100%
}
.panel-block .panel-image+.panel-content{padding-top:0px
}
.panel-block .panel-content{padding:50px
}
.panel-block .panel-content .panel-title{font-size:24px;color:#232323;font-weight:400;line-height:29px;padding:0px;margin:0px;margin-bottom:25px
}
.panel-block .panel-content .panel-text{color:#232323;font-size:17px;line-height:22px;margin:0px;padding:0px;overflow:hidden
}
#left-menu-block[data-v-5da00636]{position:fixed;left:0px;top:0px;height:100%;width:250px;background:#091424
}
#left-menu-block .left-menu-content[data-v-5da00636]{position:relative;overflow-y:auto;padding:0px 30px;padding-top:50px;max-height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;height:calc(100% - 145px);-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column nowrap;flex-flow:column nowrap;-ms-flex-pack:distribute;justify-content:space-around
}
#left-menu-block .logo-block[data-v-5da00636]{margin:0 auto;margin-bottom:35px;max-width:210px;text-align:center;height:54px
}
#left-menu-block .logo-block img[data-v-5da00636]{max-width:210px
}
#left-menu-block .slogan-text[data-v-5da00636]{font-size:15px;color:rgba(255,255,255,0.63);text-align:center;margin-bottom:20px;font-weight:400
}
#left-menu-block .vertical-spacer[data-v-5da00636]{margin:0 auto;width:1px;background-color:rgba(255,255,255,0.2);height:15px;-webkit-box-flex:1;-ms-flex:1;flex:1;-webkit-animation-name:showup-data-v-5da00636;animation-name:showup-data-v-5da00636;-webkit-animation-duration:1s;animation-duration:1s
}
#left-menu-block .vertical-spacer.responsive[data-v-5da00636]{-webkit-box-flex:1;-ms-flex:1;flex:1
}
@-webkit-keyframes showup-data-v-5da00636{
0%{max-height:0px
}
50%{max-height:0px
}
100%{max-height:100px
}
}
@keyframes showup-data-v-5da00636{
0%{max-height:0px
}
50%{max-height:0px
}
100%{max-height:100px
}
}
#left-menu-block .currencies-block[data-v-5da00636]{margin-top:20px;margin-bottom:5px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;-ms-flex-pack:distribute;justify-content:space-around
}
#left-menu-block .currencies-block .icon-inline[data-v-5da00636]{background-color:rgba(255,255,255,0.52);font-size:28px;margin-right:10px
}
#left-menu-block .currencies-block .currencies-rec[data-v-5da00636]{font-size:16px;line-height:29px;color:white;margin-bottom:15px;-webkit-animation:fadein 1.2s;animation:fadein 1.2s
}
#left-menu-block .contact-button[data-v-5da00636]{display:block;margin-top:25px;margin-bottom:25px
}
#left-menu-block .socials-block[data-v-5da00636]{margin-top:20px;margin-bottom:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly
}
#left-menu-block .socials-block .icon-inline[data-v-5da00636]{background-color:rgba(255,255,255,0.4);font-size:35px;cursor:pointer;-webkit-transition:.3s;transition:.3s
}
#left-menu-block .socials-block .icon-inline[data-v-5da00636]:hover{background-color:white
}
#left-menu-block .contacts-block[data-v-5da00636]{padding-left:20px;font-size:14px;color:white
}
#left-menu-block .contacts-block .contacts-rec[data-v-5da00636]{margin-bottom:15px
}
#left-menu-block .contacts-block .contacts-rec .contacts-title[data-v-5da00636]{display:block;font-size:14px;color:rgba(255,255,255,0.5)
}
#left-menu-block .menu-hide-button[data-v-5da00636]{position:absolute;bottom:0px;left:0px;width:250px;height:75px;background:#060E1A;text-align:center;cursor:pointer
}
#left-menu-block .menu-hide-button .icon-inline[data-v-5da00636]{height:75px;font-size:35px;background:rgba(255,255,255,0.5);-webkit-transition:.3s;transition:.3s
}
#left-menu-block .menu-hide-button:hover .icon-inline[data-v-5da00636]{background:white
}
@media (max-width:1370px){
#left-menu-block .left-menu-content[data-v-5da00636]{padding-top:37px
}
#left-menu-block .logo-block[data-v-5da00636]{height:40px
}
#left-menu-block .logo-block img[data-v-5da00636]{height:40px
}
#left-menu-block .slogan-text[data-v-5da00636]{display:none
}
}
@media (max-width:1140px){
#left-menu-block[data-v-5da00636]{position:relative;width:100%
}
#left-menu-block .left-menu-content[data-v-5da00636]{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;padding-bottom:37px
}
#left-menu-block .left-menu-content .logo-block[data-v-5da00636]{display:none
}
#left-menu-block .left-menu-content .vertical-spacer[data-v-5da00636]{display:none
}
#left-menu-block .left-menu-content .currencies-block[data-v-5da00636]{max-width:200px
}
#left-menu-block .left-menu-content .socials-block .icon-inline[data-v-5da00636]{margin-right:15px;margin-top:20px
}
#left-menu-block .left-menu-content .socials-block .icon-inline[data-v-5da00636]:last-child{margin-right:0px
}
#left-menu-block .menu-hide-button[data-v-5da00636]{display:none
}
}
@media (max-width:768px){
#left-menu-block[data-v-5da00636]{position:relative;width:100%
}
#left-menu-block .left-menu-content[data-v-5da00636]{display:block
}
#left-menu-block .left-menu-content .currencies-block[data-v-5da00636]{margin:0 auto
}
}














































































#header-block{display:none
}
@-webkit-keyframes showMenu{
0%{max-width:0px
}
50%{max-width:0px
}
100%{max-width:100%
}
}
@keyframes showMenu{
0%{max-width:0px
}
50%{max-width:0px
}
100%{max-width:100%
}
}
#bottom-menu{z-index:10;height:115px;position:fixed;bottom:0px;left:250px;right:0px;overflow:hidden;max-width:100%;-webkit-transition:.3s;transition:.3s;-webkit-animation:showMenu 1s;animation:showMenu 1s
}
#bottom-menu.hidden{max-width:0px
}
#bottom-menu .mobile-menu-content{display:none
}
#bottom-menu .bottom-menu-content{height:75px;margin-top:40px;background:white;-webkit-box-shadow:0 -10px 20px rgba(9,20,36,0.13);box-shadow:0 -10px 20px rgba(9,20,36,0.13);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center
}
#bottom-menu .bottom-menu-item{text-decoration:none;padding:0px 70px;height:30px;line-height:30px;font-size:25px;margin-top:23px;border-right:1px solid #D6D6D6;color:#008AFF;font-weight:400;-webkit-transition:.3s;transition:.3s;cursor:pointer;background:rgba(44,158,255,0);white-space:nowrap
}
#bottom-menu .bottom-menu-item:last-child{border-right:0px
}
#bottom-menu .bottom-menu-item:not(.active):hover{color:#060E1A
}
#bottom-menu .bottom-menu-item.active{cursor:inherit;height:110px;margin-top:-15px;padding-top:30px;border-right:0px;background-color:#2C9EFF;-webkit-box-shadow:15px -10px 30px rgba(9,20,36,0.2);box-shadow:15px -10px 30px rgba(9,20,36,0.2);border-top-left-radius:12px;border-top-right-radius:12px;font-size:30px;color:white
}
@media (max-width:1370px){
#bottom-menu .bottom-menu-item{font-size:20px
}
}
@media (max-width:1140px){
#header-block{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;background:#091424;padding:37px 50px
}
#header-block .header-logo{max-width:210px;text-align:center
}
#header-block .header-logo img{max-width:140px
}
#header-block .header-logo-mini{display:none
}
#header-block .header-slogan{font-size:15px;color:rgba(255,255,255,0.63);text-align:center;-ms-flex-item-align:center;align-self:center;font-weight:400
}
#bottom-menu{position:relative;left:0px;overflow:visible
}
#bottom-menu .bottom-menu-content{margin-top:0px;-webkit-box-shadow:0 10px 20px rgba(9,20,36,0.13);box-shadow:0 10px 20px rgba(9,20,36,0.13)
}
#bottom-menu .bottom-menu-content .bottom-menu-item{font-size:18px
}
#bottom-menu .bottom-menu-content .bottom-menu-item.active{font-size:25px;height:65px;margin-top:0px;-webkit-box-shadow:15px 10px 30px rgba(9,20,36,0.2);box-shadow:15px 10px 30px rgba(9,20,36,0.2);border-radius:0px;border-bottom-left-radius:12px;border-bottom-right-radius:12px
}
}
@media (max-width:768px){
#header-block .header-logo{display:none
}
#header-block .header-logo-mini{display:block;max-width:50px;text-align:center
}
#header-block .header-logo-mini img{max-width:50px
}
#bottom-menu{height:auto
}
#bottom-menu .mobile-menu-content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;background:white;padding:15px 20px
}
#bottom-menu .mobile-menu-content .menu-title{color:#091928;font-size:22px;font-weight:500;line-height:27px;-webkit-box-flex:1;-ms-flex:1;flex:1
}
#bottom-menu .mobile-menu-content .menu-bars{cursor:pointer
}
#bottom-menu .mobile-menu-content .menu-bars .icon-inline{background-color:#2BA0FF;font-size:22px;-webkit-transition:.3s;transition:.3s
}
#bottom-menu .mobile-menu-content .menu-bars:hover .icon-inline{background-color:#0078df
}
#bottom-menu .bottom-menu-content{max-height:0px;overflow:hidden;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column nowrap;flex-flow:column nowrap;height:auto;position:absolute;width:100%;-webkit-transition:.3s;transition:.3s
}
#bottom-menu .bottom-menu-content.active{max-height:500px
}
#bottom-menu .bottom-menu-content .bottom-menu-item{padding-top:20px;margin-top:0px;padding-bottom:20px
}
#bottom-menu .bottom-menu-content .bottom-menu-item.active{height:auto;font-size:20px;padding-top:20px;border-radius:0px
}
}
.goods-categories{margin-bottom:55px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between
}
.goods-categories .categories-list{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap
}
.goods-categories .category-item{font-size:18px;color:#7E8DA3;padding:0px 25px;cursor:pointer;-webkit-transition:.3s;transition:.3s
}
.goods-categories .category-item:not(.active):hover{color:#091424;margin-top:-2px
}
.goods-categories .category-item:first-child{padding-left:0px
}
.goods-categories .category-item:last-child{padding-right:0px
}
.goods-categories .category-item.active{font-weight:400;color:#091424;cursor:inherit
}
.goods-categories .search-icon{cursor:pointer;text-align:right
}
.goods-categories .search-icon.active input[type=text]{max-width:200px;margin-right:10px
}
.goods-categories .search-icon input[type=text]{outline:none;border:0px;border-bottom:1px solid #7e8da345;margin:0px;padding:8px 0px;color:#7E8DA3;background:none;font-size:16px;line-height:16px;max-width:0px;-webkit-transition:.3s;transition:.3s
}
.goods-categories .search-icon input[type=text]::-webkit-input-placeholder{color:rgba(126,141,163,0.7)
}
.goods-categories .search-icon .icon-inline{background:#7E8DA3;font-size:34px;margin-top:0px;-webkit-transition:.3s;transition:.3s
}
.goods-categories .search-icon .icon-inline:hover{background-color:#091424
}
.goods-list{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row
}
.goods-list .goods-column{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column wrap;flex-flow:column wrap;-webkit-box-flex:1;-ms-flex:1;flex:1;margin-right:37px
}
.goods-list .goods-column:last-child{margin-right:0px
}
@-webkit-keyframes good_appear{
0%{opacity:0;margin-top:15px
}
50%{opacity:0;margin-top:15px
}
100%{opacity:1;margin-top:0px
}
}
@keyframes good_appear{
0%{opacity:0;margin-top:15px
}
50%{opacity:0;margin-top:15px
}
100%{opacity:1;margin-top:0px
}
}
.goods-list .goods-column .good-item{height:270px;border-radius:12px;margin-bottom:37px;background:white center center no-repeat;background-size:cover;position:relative;-webkit-box-shadow:0 15px 30px rgba(33,80,150,0.17);box-shadow:0 15px 30px rgba(33,80,150,0.17);cursor:pointer;-webkit-transition:.2s;transition:.2s;-webkit-animation:good_appear 1s;animation:good_appear 1s
}
.goods-list .goods-column .good-item:after{content:'';-webkit-transition:.3s;transition:.3s;position:absolute;top:0px;left:0px;width:100%;height:100%;border-radius:12px;background:rgba(9,20,36,0.24);background:-webkit-gradient(linear, left top, left bottom, from(rgba(9,20,36,0.24)), color-stop(26%, rgba(9,20,36,0.37)), color-stop(75%, #091424), to(#091424));background:linear-gradient(to bottom, rgba(9,20,36,0.24) 0%, rgba(9,20,36,0.37) 26%, #091424 75%, #091424 100%)
}
.goods-list .goods-column .good-item:before{content:'';position:absolute;bottom:0px;height:10%;width:100%;background:#091424;border-bottom-left-radius:12px;border-bottom-right-radius:12px;-webkit-transition:.4s;transition:.4s
}
.goods-list .goods-column .good-item.primary{height:577px
}
.goods-list .goods-column .good-item.primary:after{background:-webkit-gradient(linear, left top, left bottom, from(rgba(9,20,36,0.24)), color-stop(36%, rgba(9,20,36,0.37)), color-stop(82%, #091424), to(#091424));background:linear-gradient(to bottom, rgba(9,20,36,0.24) 0%, rgba(9,20,36,0.37) 36%, #091424 82%, #091424 100%)
}
.goods-list .goods-column .good-item .good-bars{position:absolute;width:calc(100% - 50px);left:25px;top:-10px;border-top-left-radius:12px;border-top-right-radius:12px;height:10px;max-height:10px;background:rgba(174,174,174,0.4);-webkit-transition:.2s;transition:.2s
}
.goods-list .goods-column .good-item .good-bars:before{content:'';position:absolute;width:calc(100% - 50px);left:25px;top:-10px;border-top-left-radius:12px;border-top-right-radius:12px;height:20px;max-height:20px;background:rgba(174,174,174,0.3);-webkit-transition:.2s;transition:.2s
}
.goods-list .goods-column .good-item .good-content{position:absolute;bottom:0px;padding:37px 50px;z-index:1
}
.goods-list .goods-column .good-item .good-content .good-title{color:white;font-size:26px;line-height:37px;font-weight:400;margin-bottom:10px
}
.goods-list .goods-column .good-item .good-content .good-price{color:#2C9EFF;font-size:32px
}
.goods-list .goods-column .good-item .good-content .good-special{overflow:hidden;padding:18px 50px;color:#FF8F47;font-size:20px;margin-left:-50px;position:relative;margin-bottom:25px;display:inline-block;-webkit-transition:.3s;transition:.3s
}
.goods-list .goods-column .good-item .good-content .good-special>*{z-index:1;position:relative
}
.goods-list .goods-column .good-item .good-content .good-special:before{content:'';position:absolute;left:-1px;top:0px;height:calc(100% - 2px);width:calc(100% - 1px);border-top-right-radius:200px;border-bottom-right-radius:200px;border:1px solid #FF8F47;-webkit-transition:.2s;transition:.2s
}
.goods-list .goods-column .good-item .good-content .good-special:after{-webkit-transition:.2s;transition:.2s;content:'';position:absolute;left:-1px;top:0px;height:100%;width:0px;border-top-right-radius:200px;border-bottom-right-radius:200px;background:#FF8F47
}
.goods-list .goods-column .good-item:hover{margin-top:-3px;margin-bottom:40px
}
.goods-list .goods-column .good-item:hover:after{height:80%;border-bottom-left-radius:0px;border-bottom-right-radius:0px;-webkit-transition:.3s;transition:.3s
}
.goods-list .goods-column .good-item:hover:before{height:20%;-webkit-transition:.2s;transition:.2s
}
.goods-list .goods-column .good-item:hover .good-bars{max-height:0px;top:0px;left:12px;right:12px;width:calc(100% - 24px)
}
.goods-list .goods-column .good-item:hover .good-bars:before{max-height:0px;top:0px;left:12px;right:12px;width:calc(100% - 24px)
}
.goods-list .goods-column .good-item:hover .good-content .good-special{margin-left:-60px;color:white
}
.goods-list .goods-column .good-item:hover .good-content .good-special:after{width:100%
}
.goods-list .goods-column .good-item:hover .good-content .good-special:before{opacity:0
}
.goods-list .goods-column.full-width{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%
}
.goods-list .goods-column.full-width .good-item{width:calc(33.33333% - 24.66666px);margin-right:37px
}
.goods-list .goods-column.full-width .good-item:nth-child(3n){margin-right:0px
}
@media (max-width:1370px){
.goods-categories .category-item{font-size:16px
}
.goods-list .goods-column.full-width{-webkit-box-flex:0;-ms-flex:0 0 66.66666%;flex:0 0 66.66666%
}
.goods-list .goods-column.full-width .good-item{width:calc(50% - 18.5px)
}
.goods-list .goods-column.full-width .good-item:nth-child(2n){margin-right:0px
}
.goods-list .goods-column.full-width .good-item:nth-child(2n - 1){margin-right:37px
}
}
@media (max-width:768px){
.goods-categories{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-flow:row-reverse nowrap;flex-flow:row-reverse nowrap
}
.goods-categories .categories-list{padding-left:20px;max-width:100%;overflow-x:auto;height:74px;border-bottom:1px solid rgba(173,173,173,0.32);margin-right:-20px
}
.goods-categories .category-item{font-size:15px;white-space:nowrap;-ms-flex-item-align:center;align-self:center
}
.goods-categories .category-item:last-child{padding-right:20px
}
.goods-categories .search-icon{margin-left:-20px;padding:20px;background:#091424;border-top-right-radius:12px;border-bottom-right-radius:12px;-webkit-transition:.2s;transition:.2s;max-width:75px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between
}
.goods-categories .search-icon input[type=text]{padding:0px;margin:0px;-webkit-transition:.1s;transition:.1s
}
.goods-categories .search-icon.active{-webkit-box-flex:0;-ms-flex:0 0 80%;flex:0 0 80%;max-width:100%
}
.goods-categories .search-icon.active input[type=text]{max-width:100%;margin-right:0px;width:80%
}
.goods-categories .search-icon .icon-inline{background-color:white
}
.goods-categories .search-icon:hover{background:white
}
.goods-categories .search-icon:hover .icon-inline{background-color:#091424
}
.goods-list{display:block
}
.goods-list .goods-column{margin-right:0px
}
.goods-list .goods-column.full-width{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%
}
.goods-list .goods-column.full-width .good-item{width:100%;margin-right:0px !important
}
}
.popup-content.good-content .popup-header{padding:0px
}
.popup-content.good-content .popup-header img{width:350px;height:100%;-o-object-fit:cover;object-fit:cover
}
@media (max-width:768px){
.popup-content.good-content .popup-header img{width:100%
}
}
.popup-content.good-content .popup-body .popup-price{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:35px;margin-top:-5px
}
.popup-content.good-content .popup-body .popup-price .price{color:#2C9EFF;font-size:40px;line-height:52px
}
.popup-content.good-content .popup-body .popup-price .best-price{padding:14px 40px;color:#FF8F47;font-size:18px;border:1px solid #FF8F47;border-radius:200px
}
.popup-content.good-content .popup-body .popup-stats{margin-top:40px;margin-bottom:30px
}
.popup-content.good-content .popup-body .popup-stats .stat-block{margin-bottom:15px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;position:relative
}
.popup-content.good-content .popup-body .popup-stats .stat-block .stat-name{background:white;padding-right:15px;font-size:20px;z-index:2
}
.popup-content.good-content .popup-body .popup-stats .stat-block .stat-value{padding-left:15px;background:white;font-size:20px;z-index:2
}
.popup-content.good-content .popup-body .popup-stats .stat-block .stat-line{position:absolute;top:12px;left:2px;width:calc(100% - 4px);height:1px;background-image:-webkit-gradient(linear, left top, right top, color-stop(33%, #7E8DA3), color-stop(0%, rgba(255,255,255,0)));background-image:linear-gradient(to right, #7E8DA3 33%, rgba(255,255,255,0) 0%);background-position:bottom;background-size:6px 2px;background-repeat:repeat-x
}
.partner-block{height:167.6666666px;overflow:hidden
}
.partner-block:not(.primary){text-align:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center
}
.partner-block img{max-height:125px;max-width:85%
}
.partner-block.primary{height:577px
}
.panel-block .panel-image img.kamensk-image{width:100%;-o-object-fit:none;object-fit:none;height:300px;max-height:300px;margin-top:-60px;border-top-left-radius:12px;border-top-right-radius:12px
}
.about-link{color:#008AFF;font-weight:400;text-transform:none;border:0;font-size:20px;text-decoration:none;-webkit-transition:.3s;transition:.3s
}
.about-link:hover{color:#0061b3
}
.panel-block.work-panel{margin-bottom:50px;-webkit-box-shadow:0 15px 30px rgba(33,80,150,0.17);box-shadow:0 15px 30px rgba(33,80,150,0.17);overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-animation:item_appear 1s;animation:item_appear 1s
}
.panel-block.work-panel:last-child{margin-bottom:0px
}
.panel-block.work-panel .panel-image{width:260px;-webkit-box-flex:0;-ms-flex:0 0 260px;flex:0 0 260px;background:#005792;padding:40px 0px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-pack:distribute;justify-content:space-around
}
.panel-block.work-panel .panel-image .icon-inline{font-size:145px;background:white
}
.panel-block.work-panel:nth-child(2) .panel-image{background:#2C9EFF
}
.panel-block.work-panel:nth-child(3) .panel-image{background:#FD5F00
}
.panel-block.work-panel .panel-content{padding-top:50px
}
.panel-block.work-panel .panel-content .panel-title{font-size:35px
}
.panel-block.work-panel .panel-content .panel-text{font-size:25px;line-height:30px
}
@media (max-width:768px){
.panel-block.work-panel{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column nowrap;flex-flow:column nowrap
}
.panel-block.work-panel .panel-image{width:100%;-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%
}
}