<template>
    <div class="grid-block">
        <div class="grid-column">
            <div class="grid-item panel-block">
                <div class="panel-image">
                    <img src="/img/logo_circle.png" alt="Tensa">
                </div>
                <div class="panel-content">
                    <div class="panel-title">Компания "Тэнса"</div>
                    <div class="panel-text">
                        Занимаемся торговлей цветными металлами.
                        Поставляем цветной металлопрокат на территории РФ.
                        <br><br>
                        Акцент на скорость поставок: к нам обращаются,
                        когда другие срывают сроки или нужно найти
                        минимальную партию из наличия.
                        <br><br>
                        Производим, упаковываем и доставляем цветной металл.
                        <br><br>
                        Если вопрос закупок для вас актуален,
                        будем рады рассказать подробнее и
                        сделать расчёт под ваш заказ.

                    </div>
                </div>
            </div>
        </div>
        <div class="grid-column">
            <div class="grid-item panel-block">
                <div class="panel-image">
                    <img src="/img/kamensk.png" alt="Tensa" class="kamensk-image">
                </div>
                <div class="panel-content">
                    <div class="panel-title">Производство в Каменске-Уральском</div>
                    <div class="panel-text">
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому.
                        <br><br>
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem
                        <br><br>
                        Давно выяснено, что при оценке дизайна и композиции читаемый
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-column">
            <div class="grid-item panel-block">
                <div class="panel-content">
                    <div class="panel-title">Контакты</div>
                    <div class="panel-text">
                        ООО "Тэнса"<br>
                        623426,<br>
                        Свердловская область,<br>
                        г. Каменск-Уральский
<br><br>
                        ИНН: 6612053112<br>
                        КПП: 661201001<br>
                        ОГРН: 1186658041008<br>
                        ОКПО: 28633342
<br><br>
                        Тел. номер: +7(999)5630088<br>
                        Корп. номер: +7(499)2838814
<br><br>
                        Директор: Черноскутов Артём Олегович
                        <br><br><br>
                        <a class="about-link" href="https://drive.google.com/file/d/1F4LuPDhVYx_9wcHjNEkkZFfKm8265fbY/view" target="_blank">Реквизиты</a><br><br>
                        <a class="about-link" href="https://drive.google.com/file/d/1u1jBY8pONvBMui-E60P-YprccLWLK-86/view" target="_blank">Коммерческое предложение</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="less">
    .panel-block .panel-image img.kamensk-image{
        width: 100%;
        object-fit: none;
        height: 300px;
        max-height: 300px;
        margin-top: -60px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .about-link{
        color: #008AFF;
        font-weight: 400;
        text-transform: none;
        border: 0;
        font-size: 20px;
        text-decoration: none;
        transition: .3s;
        
        &:hover{
            color: darken(#008AFF, 15%);
        }
    }
</style>
