<template>
    <div>
        <bottom-menu ref="bottom-menu" :visible="this.botMenuVisible" @popup="toggleNoscroll"></bottom-menu>

        <div id="content">
            <div class="content-container">
                <router-view @popup="toggleNoscroll"></router-view>
            </div>
        </div>

        <left-menu @botMenutrigger="switchBotMenu" @popup="toggleNoscroll"></left-menu>
    </div>
</template>

<script>
    import LeftMenu from '../components/LeftMenu'
    import BottomMenu from '../components/BottomMenu'

    export default {
        data() {
            return {
                botMenuVisible: true,
                noscroll: false
            }
        },
        components: {
            LeftMenu,
            BottomMenu
        },
        methods: {
            switchBotMenu: function() {
                this.botMenuVisible = !this.botMenuVisible;
            },
            toggleNoscroll: function () {
                this.noscroll = !this.noscroll;

                if(this.noscroll) {
                    document.body.classList.add('noscroll');
                } else {
                    document.body.classList.remove('noscroll');
                }
            }
        },
        created() {
            if(this.$route.meta.showModal) {
                document.body.classList.add('noscroll');
            }
        }
    }
</script>

<style lang="less">
    html, body {
        font-family: 'Montserrat', Arial, Geneva, Verdana, sans-serif !important;
        font-weight: 300;
        background: #F6F6F6;
        padding: 0px;
        margin: 0px;
    }

    body{
        &.noscroll{
            overflow: hidden;
        }
    }

    input, textarea{
        font-family: 'Montserrat', Arial, Geneva, Verdana, sans-serif !important;
        font-weight: 300;
        
    }

    #content{
        overflow-y: auto;
        
        margin-left: 250px;
        width: ~"calc(100% - 250px)";

        &.noscroll{
            overflow: hidden;
        }

        .content-container{
            padding: 50px;
            max-width: 1670px;
            margin: 0 auto;
            margin-bottom: 75px;
        }
    }

    .form-block{
        .form-element{
            margin-bottom: 25px;

            input[type=text], textarea {
                outline: none;
                margin: 0px;
                display: block;
                padding: 27px 50px;
                padding-right: 25px;
                border-radius: 12px;
                box-shadow: none;
                border: 0px;
                background: #F0F0F0;
                color: #838383;
                font-size: 25px;
                font-weight: 300;
                line-height: 30px;
                width: ~"calc(100% - 75px)";
                resize: vertical;
                min-height: 30px;

                &::-webkit-input-placeholder{
                    color: #838383;
                    font-weight: 300;
                }
            }
        }
    }

    @media(max-width: 768px) {
        .form-block{
            .form-element{
                margin-bottom: 20px;

                input[type=text], textarea {
                    font-size: 20px;
                    line-height: 25px;
                    padding: 15px 25px;
                    width: ~"calc(100% - 50px)";
                }
            }
        }
    }

    .popup-fade-enter-active, .popup-fade-leave-active {
        transition: opacity .5s;
        z-index: 10000;
        position: fixed;
    }
    .popup-fade-enter, .popup-fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }

    .popup-block{
        position: fixed;
        z-index: 20;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transition: .3s;
        animation: ease-in 1s;

        opacity: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        align-content: center;
        justify-content: space-around;

        overflow-x: hidden;
        overflow-y: auto;
        

        .popup-layout{
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            background: fade(black, 70%);
            transition: .3s;
            cursor: pointer;

            &:hover{
                background: fade(black, 80%);
            }
        }

        >div:last-child{
            z-index: 2;
            max-width: 90%;
            min-width: 60%;
            margin: 0 auto;
        }

        .popup-content{
            z-index: 2;
            background: white;
            border-radius: 12px;
            display: flex;
            overflow: hidden;
            overflow-y: auto;

            .popup-header{
                flex: 1;
                background-color: #2C9EFF;
                padding-left: 50px;
                padding-right: 50px;
                position: relative;
                display: flex;
                align-items: center;
                max-width: 350px;

                &::before{
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background: top left no-repeat url('/img/popup.png');
                    background-size: cover;
                }

                .icon-inline{
                    font-size: 100px;
                    background-color: white;
                }
            }

            .popup-body{
                padding: 50px 100px;
                flex: 1 1 auto;

                .popup-title{
                    font-size: 35px;
                    font-weight: 500;
                    color: #232323;
                    margin: 0px;
                    padding: 0px;
                    margin-bottom: 25px;
                }

                p{
                    color: #232323;
                    font-size: 20px;
                    margin: 0px;
                    padding: 0px;
                }

                .popup-form{
                    margin-top: 35px;
                }
            }
        }
    }

    @media(max-width: 1370px) {
        #content{
            .content-container{
                padding-top: 37px;
            }
        }
    }

    @media(max-width: 1140px) {
        #content{
            margin-left: 0px;
            width: 100%;

            .content-container{
                margin-bottom: 0px;
            }
        }
    }

    @media(max-width: 768px) {
        #content{
            .content-container{
                padding: 50px 20px;
            }
        }

        .popup-block{
            .popup-content{
                border-radius: 0px;

                flex-flow: column nowrap;

                .popup-header{
                    flex: 0 0;
                    justify-content: space-around;
                }

                .popup-body{
                    padding: 20px;
                }
            }
        }
    }

    .icon-inline{
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-top: 0.1rem;
        background: center center no-repeat;
        background-size: auto 100%;
        vertical-align: top;
        text-transform: uppercase;
        mask: no-repeat center center;
        mask-size: 1em;
    }

    .icon-inline.usd{
        mask-image: url(~/svg/usd.svg);
    }
    .icon-inline.euro{
        mask-image: url(~/svg/euro.svg);
    }
    .icon-inline.al{
        mask-image: url(~/svg/al.svg);
    }
    .icon-inline.cu{
        mask-image: url(~/svg/cu.svg);
    }
    .icon-inline.zn{
        mask-image: url(~/svg/zn.svg);
    }
    .icon-inline.ni{
        mask-image: url(~/svg/ni.svg);
    }
    .icon-inline.inst{
        mask-image: url(~/svg/inst.svg);
    }
    .icon-inline.twitter{
        mask-image: url(~/svg/twitter.svg);
        width: 1.1em;
        margin-top: .1em;
        mask-size: 1.1em;
    }
    .icon-inline.facebook{
        mask: url(~/svg/facebook.svg) center center no-repeat;
    }
    .icon-inline.hide-menu{
        mask-image: url(~/svg/hide_menu.svg);
    }
    .icon-inline.show-menu{
        mask-image: url(~/svg/show_menu.svg);
    }
    .icon-inline.search{
        mask-image: url(~/svg/search.svg);
    }
    .icon-inline.bars{
        mask-image: url(~/svg/bars.svg);
    }
    .icon-inline.subscribe{
        mask-image: url(~/svg/subscribe.svg);
    }
    .icon-inline.manager{
        mask-image: url(~/svg/manager.svg);
    }
    .icon-inline.car{
        mask-image: url(~/svg/car.svg);
    }
    .icon-inline.bag{
        mask-image: url(~/svg/bag.svg);
    }

    .control-button{
        background: #2C9EFF;
        border: 0px;
        outline: none;
        font-family: 'Montserrat', Arial, Geneva, Verdana, sans-serif !important;
        box-shadow: 0 10px 30px fade(#005792, 29%);
        border-radius: 12px;
        text-align: center;
        padding: 20px 40px;
        font-size: 21px;
        line-height: 28px;
        font-weight: 400;
        color: white;

        transition: .3s;
        cursor: pointer;

        &:hover{
            background: darken(#2C9EFF, 15%);
        }

        &.large{
            font-size: 28px;
            padding: 25px 60px;
        }
    }

    @keyframes fadein {
        0% {opacity: 0}
        50% {opacity: 0}
        100% {opacity: 1}
    }

    .grid-block{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .grid-column{
            display: flex;
            flex-flow: column wrap;
            flex: 1 1;
            flex-basis: ~"calc(25% - 37.5px)";
            width: ~"calc(25% - 37.5px)";
            margin-right: 50px;

            &:last-child{
                margin-right: 0px !important;
            }

            @keyframes item_appear {
                0%   {opacity: 0; margin-top: 15px;}
                50%  {opacity: 0; margin-top: 15px;}
                100% {opacity: 1; margin-top: 0px;}
            }

            .grid-item{
                border-radius: 12px;
                margin-bottom: 37px;
                box-shadow: 0 15px 30px fade(#215096, 17%);
                transition: .2s;
                background: white;

                animation: item_appear 1s;
            }
        }

        @media(max-width: 1600px) {
            .grid-column{
                width: ~"calc(33.33333333% - 33.3333333px)";
                flex-basis: ~"calc(33.33333333% - 33.3333333px)";

                &:nth-child(3n) {
                    margin-right: 0px;
                }
            }
        }

        @media(max-width: 1370px) {
            .grid-column{
                width: ~"calc(50% - 25px)";
                flex-basis: ~"calc(50% - 25px)";

                &:nth-child(2n) {
                    margin-right: 0px;
                }

                &:nth-child(2n - 1) {
                    margin-right: 50px;
                }
            }
        }

        @media(max-width: 768px) {
            display: block;

            .grid-column{
                margin-right: 0px;
                width: 100%;
            }
        }
    }
    
    .panel-block{
        background: white;
        border-radius: 12px;

        .panel-image{
            padding: 60px 0px;
            text-align: center;

            img{
                height: 200px;
                max-width: 100%;
            }
        }

        .panel-image+.panel-content{
            padding-top: 0px;
        }

        .panel-content{
            padding: 50px;

            .panel-title{
                font-size: 24px;
                color: #232323;
                font-weight: 400;
                line-height: 29px;
                padding: 0px;
                margin: 0px;
                margin-bottom: 25px;
            }

            .panel-text{
                color: #232323;
                font-size: 17px;
                line-height: 22px;
                margin: 0px;
                padding: 0px;
                overflow: hidden;
            
            }
        }
    }
</style>
