<template>
    <div class="popup-content good-content">
        <div class="popup-header">
            <img :src="this.currentGood.picture" alt="">
        </div>
        <div class="popup-body" v-if="this.currentGood">
            <h3 class="popup-title">{{this.currentGood.name}}</h3>
            <div class="popup-price">
                <div class="price">{{this.currentGood.price}} р.</div>
                <div v-if="this.currentGood.highlighted" class="best-price">Лучшая цена!</div>
            </div>
            <p>{{this.currentGood.description}}</p>
            <div class="popup-stats" v-if="this.currentGood.stats">
                <div class="stat-block" v-for="(stat, i) in this.currentGood.stats" :key="i">
                    <div class="stat-name">{{stat.name}}</div>
                    <div class="stat-value">{{stat.value}}</div>
                    <div class="stat-line"></div>
                </div>
            </div>

            <!-- button class="control-button large">Купить</button-->
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

        }
    },
    computed: {
        currentGood: function() {
            return this.$store.state.current_good || false
        }
    },
    created() {
        this.$store.state.current_good = null;
        this.$store.dispatch('fetchGoodInfo', this.$router.currentRoute.params.goodId);
    },
    props: ['active'],
}
</script>

<style lang="less">
    .popup-content.good-content{
        .popup-header{
            padding: 0px;

            img{
                width: 350px;
                height: 100%;
                object-fit: cover;
            }

            @media(max-width: 768px) {
                img{
                    width: 100%;
                }
            }
        }

        .popup-body{
            .popup-price{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 35px;
                margin-top: -5px;

                .price{
                    color: #2C9EFF;
                    font-size: 40px;
                    line-height: 52px;
                }

                .best-price{
                    padding: 14px 40px;
                    color: #FF8F47;
                    font-size: 18px;
                    border: 1px solid #FF8F47;
                    border-radius: 200px;
                }
            }

            .popup-stats{
                margin-top: 40px;
                margin-bottom: 30px;

                .stat-block{
                    margin-bottom: 15px;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    position: relative;

                    .stat-name{
                        background: white;
                        padding-right: 15px;
                        font-size: 20px;
                        z-index: 2;
                    }

                    .stat-value{
                        padding-left: 15px;
                        background: white;
                        font-size: 20px;
                        z-index: 2;
                    }

                    .stat-line{
                        position: absolute;
                        top: 12px;
                        left: 2px;
                        width: ~"calc(100% - 4px)";
                        height: 1px;

                        background-image: linear-gradient(to right, #7E8DA3 33%, rgba(255,255,255,0) 0%);
                        background-position: bottom;
                        background-size: 6px 2px;
                        background-repeat: repeat-x;
                    }
                }
            }
        }
    }
</style>
