<template>
    <div>
        <div class="goods-categories">
            <div class="categories-list">
                <div class="category-item" @click="setCategory(-1)">Все категории</div>
                <div v-for="(category, i) in categories" 
                    :key="i" 
                    class="category-item" 
                    :class="{'active': $route.query.category == category.id}"
                    @click="setCategory(category.id)">{{category.name}}</div>
            </div>
            <div class="search-icon" :class="{'active': this.searchActive}">
                <input type="text" placeholder="Поиск" v-model="searchQuery">
                <div class="icon-inline search" @click="switchSearch"></div>
            </div>
        </div>

        <transition name="popup-fade">
            <div v-if="showModal">
                <div class="popup-block active">
                    <div class="popup-layout" @click="handleClose"></div>
                    <router-view name="good"/>
                </div>
            </div>
        </transition>

        <div class="goods-list">
            <div class="goods-column" v-if="highlighted.length > 0">
                <router-link v-for="(good, i) in highlighted" :key="i"
                    :to="'/goods/'+good.slug"
                    class="good-item primary" 
                    :style="{'background-image': 'url('+good.picture+')'}"
                >
                    <div class="good-bars"></div>
                    <div class="good-content">
                        <div class="good-special">
                            <div>Лучшая цена!</div>
                        </div>
                        <div class="good-title">{{good.name}}</div>
                        <div class="good-price">{{good.price}} р.</div>
                    </div>
                </router-link>
            </div>
            <div class="goods-column full-width">
                <router-link v-for="(good, i) in goods" :key="i" 
                    :to="'/goods/'+good.slug"
                    class="good-item" 
                    :style="{'background-image': 'url('+good.picture+')'}"
                >
                    <div class="good-content">
                        <div class="good-title">{{good.name}}</div>
                        <div class="good-price">{{good.price}} р.</div>
                    </div>
                </router-link>
                
            </div>

        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            loading: false,
            searchActive: false,
            searchQuery: '',
            searchParams: {

            }
        }
    },
    computed: {
        showModal: function() {
            return this.$route.meta.showModal || false
        },
        categories: function() {
            return this.$store.state.categories
        },
        goods: function() {
            return this.$store.state.goods;
        },
        highlighted: function() {
            return this.$store.state.highlighted
        }
    },
    methods: {
        switchSearch: function() {
            this.searchActive = !this.searchActive
        },
        handleClose() {
            this.$router.push('/');
            document.body.classList.remove('noscroll');
        },
        setCategory: function(id) {
            if(id <= 0) {
                delete this.searchParams.category;
                this.updateRoute();
                return;
            }
            this.searchParams.category = id;
            this.updateRoute();
        },
        setSearchQuery: function(search) {
            if(search == '') {
                delete this.searchParams.search;
                this.updateRoute();
                return;
            }

            this.searchParams.search = search;
            this.updateRoute();
        },
        updateRoute: function() {
            this.$router.replace({query: this.searchParams})
            this.$store.dispatch('resetGoods')
            this.$store.dispatch('fetchGoods', this.$router.currentRoute.query);
        }
    },
    watch: {
        // эта функция запускается при любом изменении вопроса
        showModal: function (newShowModal, oldShowModal) {
            if(newShowModal == false) {
                document.body.classList.remove('noscroll');
            } else {
                document.body.classList.add('noscroll');
            }
        },

        searchQuery: function (newSearchQuery, oldSearchQuery) {
            if(this.loading) {
                this.loading = false;
                return;
            }

            this.setSearchQuery(newSearchQuery);
        }
    },
    created() {
        this.$store.dispatch('fetchCategories');
        this.loading = true;
        this.searchQuery = this.$route.query.search;
        if(this.searchQuery && this.searchQuery !== '') {
            this.searchParams.search = this.searchQuery;
        }
        
        this.$store.dispatch('fetchGoods', this.$router.currentRoute.query);
    }
}
</script>

<style lang="less">
    .goods-categories{
        margin-bottom: 55px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .categories-list{
            display: flex;
            flex-flow: row nowrap;
        }
        
        .category-item{
            font-size: 18px;
            color: #7E8DA3;
            padding: 0px 25px;
            cursor: pointer;
            transition: .3s;

            &:not(.active):hover{
                color: #091424;
                margin-top: -2px;
            }

            &:first-child{
                padding-left: 0px;
            }

            &:last-child{
                padding-right: 0px;
            }

            &.active{
                font-weight: 400;
                color: #091424;
                cursor: inherit;
            }
        }

        .search-icon{
            text-align: right;
            cursor: pointer;
            text-align: right;

            &.active{
                input[type=text]{
                    max-width: 200px;
                    margin-right: 10px;
                }
            }

            input[type=text] {
                outline: none;
                border: 0px;
                border-bottom: 1px solid #7e8da345;
                margin: 0px;
                padding: 8px 0px;
                color: #7E8DA3;
                background: none;
                font-size: 16px;
                line-height: 16px;
                max-width: 0px;
                transition: .3s;
                
                &::-webkit-input-placeholder{
                    color: fade(#7E8DA3, 70%);
                }
            }

            .icon-inline{
                background: #7E8DA3;
                font-size: 34px;
                margin-top: 0px;
                transition: .3s;

                &:hover{
                    background-color: #091424;
                }
            }
        }
    }

    .goods-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .goods-column{
            display: flex;
            flex-flow: column wrap;
            flex: 1;

            margin-right: 37px;

            &:last-child{
                margin-right: 0px;
            }

            @keyframes good_appear {
                0%   {opacity: 0; margin-top: 15px;}
                50%  {opacity: 0; margin-top: 15px;}
                100% {opacity: 1; margin-top: 0px;}
            }

            .good-item{
                height: 270px;
                border-radius: 12px;
                margin-bottom: 37px;
                background: white center center no-repeat;
                background-size: cover;
                position: relative;
                box-shadow: 0 15px 30px fade(#215096, 17%);
                cursor: pointer;
                transition: .2s;

                animation: good_appear 1s;

                &:after{
                    content: '';
                    transition: .3s;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;

                    background: rgba(9,20,36,0.24);
                    background: linear-gradient(to bottom, rgba(9,20,36,0.24) 0%, rgba(9,20,36,0.37) 26%, rgba(9,20,36,1) 75%, rgba(9,20,36,1) 100%);
                }

                &:before{
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        height: 10%;
                        width: 100%;
                        background: #091424;
                        border-bottom-left-radius: 12px;
                        border-bottom-right-radius: 12px;
                        transition: .4s;
                    }

                &.primary{
                    height: 577px;

                    &:after{
                            background: linear-gradient(to bottom, rgba(9,20,36,0.24) 0%, rgba(9,20,36,0.37) 36%, rgba(9,20,36,1) 82%, rgba(9,20,36,1) 100%);
                    }
                }

                .good-bars{
                    position: absolute;
                    width: ~"calc(100% - 50px)";
                    left: 25px;
                    top: -10px;
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                    height: 10px;
                    max-height: 10px;
                    background: fade(#AEAEAE, 40%);
                    transition: .2s;

                    &:before{
                        content: '';
                        position: absolute;
                        width: ~"calc(100% - 50px)";
                        left: 25px;
                        top: -10px;
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                        height: 20px;
                        max-height: 20px;
                        background: fade(#AEAEAE, 30%);
                        transition: .2s;
                    }
                }

                .good-content{
                    position: absolute;
                    bottom: 0px;
                    padding: 37px 50px;
                    z-index: 1;

                    .good-title{
                        color: white;
                        font-size: 26px;
                        line-height: 37px;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }

                    .good-price{
                        color: #2C9EFF;
                        font-size: 32px;
                        
                    }

                    .good-special{
                        overflow: hidden;
                        padding: 18px 50px;
                        color: #FF8F47;
                        font-size: 20px;
                        margin-left: -50px;
                        position: relative;
                        margin-bottom: 25px;
                        display: inline-block;
                        transition: .3s;

                        >*{
                            z-index: 1;
                            position: relative;
                        }

                        &:before{
                            content: '';
                            position: absolute;
                            left: -1px;
                            top: 0px;
                            height: ~"calc(100% - 2px)";
                            width: ~"calc(100% - 1px)";
                            border-top-right-radius: 200px;
                            border-bottom-right-radius: 200px;
                            border: 1px solid #FF8F47;
                            transition: .2s;
                        }

                        &:after{
                            transition: .2s;
                            content: '';
                            position: absolute;
                            left: -1px;
                            top: 0px;
                            height: 100%;
                            width: 0px;
                            border-top-right-radius: 200px;
                            border-bottom-right-radius: 200px;
                            background: #FF8F47;
                        }
                    }
                }

                &:hover{
                    margin-top: -3px;
                    margin-bottom: 40px;

                    &:after{
                        height: 80%;
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                        transition: .3s;
                    }

                    &:before{
                        height: 20%;
                        transition: .2s;
                    }

                    .good-bars{
                        max-height: 0px;
                        top: 0px;
                        left: 12px;
                        right: 12px;
                        width: ~"calc(100% - 24px)";

                        &:before{
                            max-height: 0px;
                            top: 0px;
                            left: 12px;
                            right: 12px;
                            width: ~"calc(100% - 24px)";
                        }
                    }

                    .good-content{
                        .good-special{
                            margin-left: -60px;
                            
                            color: white;
                            &:after{
                                width: 100%;
                            }

                            &:before{
                                opacity: 0;
                            }
                        }
                    }
                }
            }

            &.full-width{
                flex-flow: row wrap;
                flex: 0 0 75%;

                .good-item{
                    width: ~"calc(33.33333% - 24.66666px)";
                    margin-right: 37px;

                    &:nth-child(3n) {
                        margin-right: 0px;
                    }
                }
            }
        }
    }

    @media(max-width: 1370px) {
        .goods-categories{
            .category-item{
                font-size: 16px;
            }
        }

        .goods-list{
            .goods-column{
                &.full-width{
                    flex: 0 0 66.66666%;

                    .good-item{
                        width: ~"calc(50% - 18.5px)";

                        &:nth-child(2n) {
                            margin-right: 0px;
                        }

                        &:nth-child(2n - 1) {
                            margin-right: 37px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 768px) {
        .goods-categories{
            flex-flow: row-reverse nowrap;

            .categories-list{
                padding-left: 20px;
                max-width: 100%;
                overflow-x: auto;
                height: 74px;
                border-bottom: 1px solid fade(#ADADAD, 32%);
                margin-right: -20px;
            }

            .category-item{
                font-size: 15px;
                white-space: nowrap;
                align-self: center;

                &:last-child{
                    padding-right: 20px;
                }
            }

            .search-icon{
                margin-left: -20px;
                padding: 20px;
                background: #091424;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                transition: .2s;
                max-width: 75px;;

                display: flex;
                justify-content: space-between;

                input[type=text] {
                    padding: 0px;
                    margin: 0px;
                    transition: .1s;
                }

                &.active{
                    flex: 0 0 80%;
                    max-width: 100%;
                    input[type=text] {
                        max-width: 100%;
                        margin-right: 0px;
                        width: 80%;
                    }
                }

                .icon-inline{
                    background-color: white;
                }

                &:hover{
                    background: white;

                    .icon-inline{
                        background-color: #091424;
                    }
                }
            }
        }

        .goods-list{
            display: block;

            .goods-column{
                margin-right: 0px;

                &.full-width{
                    flex: 0 0 100%;

                    .good-item{
                        width: 100%;
                        margin-right: 0px !important;
                    }
                }
            }
        }
    }
</style>
