<template>
    <div class="grid-block">
        <div class="grid-column">
            <div class="grid-item panel-block partner-block primary">
                <div class="panel-image">
                    <img src="/test/partner1.png" alt="">
                </div>
                <div class="panel-content">
                    <div class="panel-title">Каменск-Уральский металлургический завод</div>
                    <div class="panel-text">Крупнейший партнер по производству металлической продукции среднего класса во всем Уральском регионе</div>
                </div>
            </div>
        </div>
        <div class="grid-column">
            <div class="grid-item panel-block partner-block primary">
                <div class="panel-image">
                    <img src="/test/partner1.png" alt="">
                </div>
                <div class="panel-content">
                    <div class="panel-title">Уральский горно-металлургический комбинат</div>
                    <div class="panel-text">Первый по величине производитель меди в России</div>
                </div>
            </div>
        </div>
        <div class="grid-column">
            <div class="grid-item panel-block partner-block">
                <img src="/test/partner2.png" alt="">
            </div>
            <div class="grid-item panel-block partner-block">
                <img src="/test/partner3.png" alt="">
            </div>
            <div class="grid-item panel-block partner-block">
                <img src="/test/partner4.png" alt="">
            </div>
        </div>
        <div class="grid-column">
            <div class="grid-item panel-block partner-block">
                <img src="/test/partner2.png" alt="">
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="less">
    .partner-block{
        
        height: 167.6666666px;
        overflow: hidden;

        &:not(.primary) {
            text-align: center;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        img{
            max-height: 125px;
            max-width: 85%;
        }

        &.primary{
            height: 577px;
        }
    }
</style>
