<template>
    <div>
        <div class="panel-block work-panel">
            <div class="panel-image">
                <div class="icon-inline manager"></div>
            </div>
            <div class="panel-content">
                <div class="panel-title">
                    Свяж<u>и</u>тесь с менеджером
                </div>
                <div class="panel-text">
                    Сделаем расчёт под ваш заказ.<br>
	                Найдём металл из наличия или оформим заказ в производство.<br>
	                Обсудим условия оплаты, доставки и учтём все пожелания.	
                </div>
            </div>
        </div>
        <div class="panel-block work-panel">
            <div class="panel-image">
                <div class="icon-inline car"></div>
            </div>
            <div class="panel-content">
                <div class="panel-title">Документы и доставка - за нами.</div>
                <div class="panel-text">
                    Упаковку и погрузку груза возьмём на себя.<br>
	                Довозим груз до терминала транспортной компании бесплатно.<br>
	                Отгрузочные документы и сертификат продублируем на эл. почту.<br>
	                Договор, спецификацию и счёт отправим через ЭДО (электронный документооборот).    
                </div>
            </div>
        </div>
        <div class="panel-block work-panel">
            <div class="panel-image">
                <div class="icon-inline bag"></div>
            </div>
            <div class="panel-content">
                <div class="panel-title">Получите ваш заказ</div>
                <div class="panel-text">
                    Мы будем отслеживать перемещение груза и предупредим вас о времени доставки.<br>
                    Сделка будет завершена, когда вы оприходуете товар, подпишите акт сверки и УПД (универсально-передаточный документ)
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="less">
    .panel-block.work-panel{
        margin-bottom: 50px;
        box-shadow: 0 15px 30px rgba(33, 80, 150, 0.17);
        overflow: hidden;

        display: flex;
        flex-flow: row nowrap;

        animation: item_appear 1s;

        &:last-child{
            margin-bottom: 0px;
        }

        .panel-image {
            width: 260px;
            flex: 0 0 260px;
            background: #005792;
            padding: 40px 0px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .icon-inline{
                font-size: 145px;
                background: white;
            }
        }

        &:nth-child(2) {
            .panel-image {
                background: #2C9EFF;
            }
        }

        &:nth-child(3) {
            .panel-image {
                background: #FD5F00;
            }
        }

        .panel-content{
            padding-top: 50px;

            .panel-title{
                font-size: 35px;
            }

            .panel-text{
                font-size: 25px;
                line-height: 30px;
            }
        }

        @media(max-width: 768px) {
            flex-flow: column nowrap;

            .panel-image {
                width: 100%;
                flex: 0 0 100%;
            }
        }
    }
</style>
