@mobileBreakpoint            : 320px;
@tabletBreakpoint            : 992px;
@computerBreakpoint          : 992px;
@largeMonitorBreakpoint      : 1250px;
@widescreenMonitorBreakpoint : 1920px;

@largestMobileScreen : (@tabletBreakpoint - 1px);
@largestTabletScreen : (@computerBreakpoint - 1px);
@largestSmallMonitor : (@largeMonitorBreakpoint - 1px);
@largestLargeMonitor : (@widescreenMonitorBreakpoint - 1px);

@mainMenuHeight: 120px;
@mainMenuMiniHeight: 70px;

//Site colors
@imGold: #deb63e;
@imDark: #262626;
@imWhite: #fff;
@imSubWhite: #fafafa;
@imLightGrey: #d9d9d9;
@imGrey: #808080;
@imDarkGrey: #404040;

@font-titles: 'Akrobat', sans-serif;

